.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-link {
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
}

.sidebar-link:hover {
    background-color: lightgray;
}

.sidebar-link img {
    height: 24px;
}

.sidebar-link div {
    font-size: 10px;
    font-family: Roboto, Arial;
}

.search-button,
.voice-search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.search-button .tooltip,
.voice-search-button .tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    padding: 4px 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.12;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button .tooltip{
    opacity: 1;
}